@using Staples.Models
@model Person

@{
    ViewData["Title"] = "Create Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Home",FormMethod.Post))
{
    <p>
        @Html.EditorForModel()
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
}
<input type="button" value="Log it" onclick="location.href='@Url.Action("Home", "SaveToLog")'" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>