<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="dbConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\LogInfo.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
